/* =================================== */
/*  Shortcut
/* =================================== */

/* Default theming */
:root {
  --shortcutContentPadding: var(--contentFontBase);
  --shortcutHorizontalContentPadding: var(--contentFontBase);
  --shortcutTitleFontSize: var(--contentFontBase);
  --shortcutTitleFontWeight: var(--fontWeightBold);
  --shortcutDescriptionFontSize: var(--fontSizeSmall);
}

/* Styles */
.content-block--shortcuts {
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  grid-template-columns: repeat(2, 1fr);

  @screen lg {
    grid-template-columns: repeat(4, 1fr)
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  // 1 column
  &.variant-image-top-1 {
    grid-row-gap: var(--grid-gap);
  }

  // 2 columns
  &.variant-image-top-2 {
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
  }

  // 3 columns
  &.variant-image-top-3 {
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
  }

  .shortcut-item {
    @apply flex flex-col;
    box-shadow: none;

    .content {
      flex-grow: 1;
      border-right: 1px solid var(--colorBorderSubtle);
      border-bottom: 1px solid var(--colorBorderSubtle);
      border-left: 1px solid var(--colorBorderSubtle);
    }

    div.preview {
      @apply h-auto aspect-square;
    }

    &:hover {
      box-shadow: none;

      div.preview {
        @apply opacity-80;
      }

      p.title {
        @apply text-default underline;
      }
    }
  }
}

/* Shortcut variants */
.content-block--shortcuts {
  // Icon on top
  /*&.variant-icon-top-4,
  &.variant-icon-top-3,
  &.variant-icon-top-2 {
    .shortcut-item {
      box-shadow: 0 0 1px 1px var(--colorBorderSubtle);

      .content {
        border: none;
      }
    }
  }*/

  // Leading icon
  /*&.variant-icon-leading-1,
  &.variant-icon-leading-2,
  &.variant-icon-leading-3 {
    .shortcut-item {
      box-shadow: 0 0 1px 1px var(--colorBorderSubtle);

      .content {
        justify-content: flex-start;
        border: none;
      }

      div.preview {
        margin-right: 0;
      }
    }
  }*/

  // Image leading
  /*&.variant-image-leading-1 .shortcut-item,
  &.variant-image-leading-2 .shortcut-item {
    div.preview {
      flex-shrink: 0;
      min-height: 100px;
    }

    .content {
      border-top: 1px solid var(--colorBorderSubtle);
      border-right: 1px solid var(--colorBorderSubtle);
      border-bottom: 1px solid var(--colorBorderSubtle);
      border-left: none;
    }
  }*/
}
