/* =================================== */
/*  Shortcut
/* =================================== */

.shortcut-container {
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);

  .shortcut-item {
    box-shadow: var(--boxShadowLevel1);
    box-sizing: border-box;
    transition: var(--transitionDefault);
    background: var(--colorBackgroundPrimary);

    &:hover {
      box-shadow: var(--boxShadowLevel2);
      text-decoration: none;

      .title {
        color: var(--colorAccent);
      }

      * {
        text-decoration: none;
      }
    }

    .content {
      padding: 16px;
    }

    .title {
      padding: 0;
      margin: 0;
      font-weight: 500;
      color: var(--colorInkPrimary);
    }

    .description {
      margin: 4px 0 0 0;
      padding: 0;
      font-size: .85rem;
      color: var(--colorInkSecondary);
    }
  }

  .preview {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    aspect-ratio: 1 / 1;

    &.empty {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' viewBox='0 0 20 20'%3E%3Cpath d='M16.971 3.029a4.367 4.367 0 0 0-6.175 0l-2.27 2.269 1.25 1.249 2.269-2.269a2.6 2.6 0 1 1 3.677 3.677l-2.269 2.269 1.25 1.25 2.268-2.27a4.367 4.367 0 0 0 0-6.175Z' fill='rgba(0,0,0,0.5)'/%3E%3Cpath d='m13.526 7.798-1.324-1.324-5.728 5.728 1.324 1.324 5.728-5.728Z' fill='rgba(0,0,0,0.5)'/%3E%3Cpath d='m6.547 9.776-1.25-1.25-2.268 2.27a4.367 4.367 0 1 0 6.175 6.175l2.27-2.269-1.25-1.249-2.269 2.269a2.6 2.6 0 1 1-3.677-3.677l2.269-2.269Z' fill='rgba(0,0,0,0.5)'/%3E%3C/svg%3E");
      background-size: 28px;
    }
  }

  /* Shortcut variants */
  &.image-top-3,
  &.icon-top-3,
  &.icon-leading-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.image-top-2,
  &.icon-top-2,
  &.icon-leading-2,
  &.image-leading-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.icon-leading-1,
  &.image-leading-1,
  &.image-top-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Image on top */
  &.image-top-1,
  &.image-top-2,
  &.image-top-3,
  &.image-top-4 {
    .preview {
      aspect-ratio: 16 / 9;
    }
  }

  /* Leading image */
  &.image-leading-1,
  &.image-leading-2 {
    .shortcut-item {
      display: flex;
      flex-direction: row;
    }

    .preview {
      flex-shrink: 0;
      width: 28%;
      height: 100%;
    }
  }

  /* Icon on top */
  &.icon-top-2,
  &.icon-top-3,
  &.icon-top-4 {
    .preview {
      width: var(--shortcutIconWidth);
      height: var(--shortcutIconHeight);
      margin-top: 16px;
      margin-left: 16px;
    }
  }

  /* Leading icon */
  &.icon-leading-1,
  &.icon-leading-2,
  &.icon-leading-3 {
    .shortcut-item {
      display: flex;
      flex-direction: row;
    }

    .preview {
      flex-shrink: 0;
      width: var(--shortcutIconWidth);
      height: var(--shortcutIconHeight);
      margin: 16px 0 16px 16px;
    }
  }
}

@media (max-width: 660px) {
  .shortcut-container {
    // applied to all the variants because of !important
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 768px) {
  .shortcut-container,
  .shortcut-container.icon-top-3,
  .shortcut-container.image-top-3,
  .shortcut-container.icon-leading-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .shortcut-container.image-leading-1,
  .shortcut-container.image-leading-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
